

.glass {
    display: flex;
    min-height: 30vh;
    width: 30%;
    /* height: 600px;
    width: 1200px; */
    /* padding: 1px 1px 1px 1px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* text-align: center; */
    backdrop-filter: blur(0.3rem);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.ibox {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
}
