<!-- <p>login works!</p> -->
<!-- <div>
    Enter Your Name: <input type="text" value={{name}} /> <br />
    <button (click)="greet()">Greet Me!</button>
</div> -->

<div class="glass">
    <h1>LOGIN</h1><hr>
    <div class="ibox">
        <label [ngStyle]="{'color':status === 'false' ? 'red' : 'green' }">{{message}}</label><br>
        <input type="text" [(ngModel)]="username" name="username" id="username" class="form-control" placeholder="username"><br>
        <input type="password" [(ngModel)]="password" name="password" id="password" class="form-control" placeholder="password"><br>
        <button (click)="login()" [ngClass]="'btn btn-primary'">Login</button><hr>
    </div>
</div>
       
   